@import url(https://fonts.googleapis.com/css?family=Play:700);
@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700);
@import url(http://fonts.googleapis.com/css?family=Khula:300,700);
body {
  color: #636c72;
  font-family: 'Khula';
  background-color: #e9ecf3;
  min-width: 992px;
}
.animate-show,
.animate-hide {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.animate-hide.ng-hide {
  opacity: 0;
  top: -100px;
  display: block !important;
}
.animate-show.ng-show {
  opacity: 1;
  display: block !important;
}
.note-popover.popover {
  display: none;
}
.note-editor .modal-header button {
  display: none;
}
.btn {
  cursor: pointer;
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #636c72;
  border-color: #636c72;
}
.btn-primary {
  background-color: #578ebe;
  border-color: #578ebe;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #3598dc;
  border-color: #3598dc;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.pull-right {
  float: right;
}
.calendar-group input {
  font-size: .875rem;
}
.card-block.focused {
  background-color: #e9ecf3;
}
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid,
.summernote.ng-invalid .note-editable.panel-body {
  border-color: #a94442 !important;
  background-color: rgba(217, 83, 79, 0.1) !important;
}
.uib-datepicker-popup {
  font-size: 13px !important;
}
.uib-datepicker-popup .btn-sm,
.uib-datepicker-popup .h6,
.uib-datepicker-popup .text-muted {
  font-size: 11px !important;
}
.uib-datepicker-popup .text-info {
  color: #ffffff !important;
}
.hidden {
  display: none;
}
a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #578ebe;
}
.trans {
  opacity: 0.5;
}
label.card-title.required {
  padding-left: 10px;
}
label.card-title.required::before {
  content: '*';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 12px;
}
.message {
  position: relative;
  height: auto;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  font-size: 0.8em;
  overflow: hidden;
  border-radius: 5px;
}
.message::after {
  cursor: pointer;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  background-color: #f69b9b;
  color: #ffffff;
  content: "close x";
  width: 17px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #f2dede;
}
.error-txt {
  color: #a94442;
}
.text-muted {
  color: #9eacb4 !important;
  font-size: 15px;
  font-family: Ubuntu;
}
.breadcrumb {
  padding: 0;
  background-color: transparent;
  font-size: 14px;
}
.breadcrumb .active {
  color: #bfcad1;
  cursor: default;
}
.title-section {
  font-family: Play;
  margin-bottom: 20px;
}
.login {
  max-width: 340px;
  width: 100%;
  padding: 19px 29px 29px;
  margin: 60px auto 20px;
  background-color: #ffffff;
  border: 1px solid #2f353b;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.login input {
  width: 100%;
  margin-bottom: 10px;
}
.login button {
  width: 100%;
}
.top-bar {
  background: #2f353b;
  border-bottom: 1px solid #3598dc;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  min-width: 992px;
}
@media only screen and (max-width: 992px) {
  .top-bar {
    position: relative;
    top: 0;
  }
}
.top-bar .title {
  line-height: 80px;
  margin-bottom: 0;
}
@media only screen and (max-width: 576px) {
  .top-bar .title {
    font-size: 1.6em;
  }
}
.top-bar .nav {
  line-height: 80px;
}
.top-bar a {
  color: #9eacb4;
}
.top-bar a:hover {
  color: #3598dc;
}
.page-wrapper {
  padding: 0 3px;
  margin-top: 90px;
  min-width: 992px;
}
@media print {
  .page-wrapper {
    margin-top: 0;
  }
}
.page-footer {
  position: fixed;
  z-index: 10;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: #bfcad1;
  color: #69789e;
  padding: 8px;
  line-height: 23px;
  font-size: 12px;
}
.menu-principal {
  width: 230px;
  background-color: #ffffff;
  float: left;
  display: block;
  position: relative;
  margin-right: -100%;
  font-family: Ubuntu;
  letter-spacing: 0.03em;
}
.menu-principal .menu {
  padding: 10px 0;
  top: 88px;
  position: fixed;
  width: 230px;
  background-color: #ffffff;
}
@media only screen and (max-width: 992px) {
  .menu-principal .menu {
    position: relative;
    top: 0;
  }
}
.menu-principal .menu .nav-link {
  margin-bottom: 1px;
  font-size: 15px;
  padding: .7em 1.2em;
  color: #69789e;
  position: relative;
}
.menu-principal .menu .nav-link:hover {
  background-color: #f2f6f9;
  color: #5c9acf;
}
.menu-principal .menu .active,
.menu-principal .menu .heading {
  color: #5c9acf;
}
.menu-principal .menu .active {
  background-color: #f2f6f9;
}
.menu-principal .menu .active::before {
  content: "";
  width: 4px;
  height: 42px;
  background-color: #5c9acf;
  position: absolute;
  left: -4px;
  top: 0;
}
.menu-principal .menu .heading {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}
.menu-principal .menu i {
  margin-right: 2px;
  font-size: 1.1em;
  position: relative;
  top: 2px;
}
.btn-calendar {
  margin: 0;
  font-size: 20px;
  top: -4px;
  position: absolute !important;
  right: 0;
  z-index: 1000 !important;
  border: 0;
  padding: 4px 9px 2px 10px;
}
.view-record .modal-header,
.edit-record .modal-header,
.edit-password .modal-header,
.view-contact-home .modal-header {
  font-family: Play;
}
.view-record .modal-header .modal-title,
.edit-record .modal-header .modal-title,
.edit-password .modal-header .modal-title,
.view-contact-home .modal-header .modal-title {
  width: 100%;
  text-align: center;
  font-family: 'Khula';
}
.view-record .modal-body .card,
.edit-record .modal-body .card,
.edit-password .modal-body .card,
.view-contact-home .modal-body .card {
  font-size: 14px;
  margin-bottom: 10px;
}
.view-record .modal-body .card .card-block,
.edit-record .modal-body .card .card-block,
.edit-password .modal-body .card .card-block,
.view-contact-home .modal-body .card .card-block {
  padding: 12px 12px 2px 12px;
}
.view-record .modal-body .card .card-block .card-title,
.edit-record .modal-body .card .card-block .card-title,
.edit-password .modal-body .card .card-block .card-title,
.view-contact-home .modal-body .card .card-block .card-title {
  font-size: 13px;
  margin-bottom: .15rem;
  font-weight: bold;
  text-transform: uppercase;
}
.view-record .modal-body .card .card-block .data p:last-child,
.edit-record .modal-body .card .card-block .data p:last-child,
.edit-password .modal-body .card .card-block .data p:last-child,
.view-contact-home .modal-body .card .card-block .data p:last-child {
  margin-bottom: 0;
}
.view-record .modal-body .card .card-block .custom-file-control,
.edit-record .modal-body .card .card-block .custom-file-control,
.edit-password .modal-body .card .card-block .custom-file-control,
.view-contact-home .modal-body .card .card-block .custom-file-control {
  top: 30px;
  height: 33px;
  left: 13px;
  width: 92%;
  border: 0;
}
.view-record .modal-body .card .form-control,
.edit-record .modal-body .card .form-control,
.edit-password .modal-body .card .form-control,
.view-contact-home .modal-body .card .form-control {
  border: none;
  min-height: 30px;
  padding: 0;
  margin-top: -4px;
  background: none;
  border-bottom: 1px solid black;
  margin-bottom: 13px;
}
.view-record .modal-body .card .form-control[type="input"],
.edit-record .modal-body .card .form-control[type="input"],
.edit-password .modal-body .card .form-control[type="input"],
.view-contact-home .modal-body .card .form-control[type="input"] {
  height: 25px;
}
.content-wrapper {
  width: 100%;
  float: left;
}
@media only screen and (max-width: 992px) {
  .content-wrapper {
    width: 950px;
  }
}
.content {
  margin-left: 230px;
  padding-left: 12px;
  padding-bottom: 6rem;
  padding-right: 0;
}
.content .content-title {
  font-family: Play;
}
@media print {
  .content {
    margin-left: 0;
    padding-left: 0;
  }
  .content .content-title {
    font-family: Verdana;
    line-height: 14px;
    font-size: 20px;
  }
}
.alert {
  position: absolute;
  right: 20px;
  top: 0;
  height: 50px;
  font-size: 13px;
  padding: 1rem 1.25rem .75rem 1.25rem;
  -webkit-box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.2);
}
.alert-fix {
  position: initial;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  height: auto;
}
.alert-dismissible .close {
  padding: 2px 6px;
  top: -15px;
  font-size: 18px;
  right: -17px;
}
.has-error {
  background-color: #f2dede;
}
.icard {
  margin-bottom: 10px;
  padding-right: 0;
}
.icard-title {
  font-family: Ubuntu;
}
.icard-block {
  background-color: #ffffff;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.icard-list__simple .icard-item {
  border-bottom: 0;
}
.icard-item {
  font-size: 14px;
  max-height: 80px;
  overflow: hidden;
  font-family: Ubuntu;
  border-bottom: 1px solid #e9ecf3;
  margin-bottom: 10px;
}
.icard-item:firs-child {
  margin-top: 20px;
}
.icard-item .icard-info__author {
  font-weight: bold;
}
.icard-item .icard-info__author .badge {
  font-weight: normal;
  padding: 4px 13px 4px 10px;
}
.icard-item .icard-info__desc {
  font-size: 13px;
  vertical-align: text-bottom;
}
.icard-item .icard-info__icon {
  font-size: 18px;
  padding: 5px;
  color: #636c72;
  display: inline-block;
  margin-right: 4px;
}
.icard-item .icard-datetime {
  font-size: 13px;
  text-align: right;
}
.icard-item .icard-buttons {
  text-align: right;
}
.icard-filter {
  margin-bottom: 20px;
}
.icard-filter .card-header {
  padding-top: 18px;
  padding-bottom: 0;
  background-color: #ffffff;
}
.icard-filter .card-header .caption {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.icard-filter .card-header .nav-tabs {
  border: 0;
}
.icard-filter .card-header .nav-tabs .nav-link,
.icard-filter .card-header .nav-tabs .nav-link:hover {
  border-width: 0 0 3px;
}
.icard-filter .card-header .nav-tabs .active {
  background: 0 0;
  border-bottom: 3px solid #3598dc;
  position: relative;
}
.icard-filter .card-header .nav-tabs a {
  padding: 0 13px 13px;
  font-size: 13px;
  display: block;
  color: #636c72;
  text-decoration: none;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.btn-action {
  color: #32c5d2 !important;
  background-color: #ffffff !important;
}
.btn-action:hover {
  color: #5c9acf !important;
}
.data-grid-container {
  padding: 0;
}
.data-grid-container i[class*="icon-"] {
  font-weight: bold;
}
.data-grid-container .btn-group {
  background-color: #ffffff;
}
.data-grid-container .btn-group__simple {
  border-radius: .2rem;
}
.data-grid-container .btn-group__simple a {
  border-bottom-right-radius: inherit !important;
  border-top-right-radius: inherit !important;
}
.data-grid-container .btn-group .dropdown-menu {
  font-size: 13px;
  right: 0;
  left: inherit;
}
.data-grid-container .btn-group .dropdown-menu .dropdown-item {
  padding: 3px 1rem;
  color: #636c72;
}
.data-grid-container .card-header {
  background-color: #5c9acf;
  padding: .55rem 1.25rem;
  color: #ffffff;
  margin: 0;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.data-grid-container .card-header i[class*="icon-"] {
  vertical-align: middle;
}
.data-grid-container .card-block {
  padding-top: 0;
}
@media print {
  .data-grid-container .card-block {
    padding: 0;
    margin: 0;
  }
}
.data-grid-container .filter-container {
  border-top: 0;
}
.data-grid-container .filter-container .card {
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}
.data-grid-container .filter-container label {
  margin-right: 5px;
  font-size: 12px;
}
.data-grid-container .filter-container input,
.data-grid-container .filter-container select {
  margin-right: 15px;
}
.data-grid-container .data-grid {
  margin-top: 1.25rem;
  font-size: 14px;
  max-height: 800px;
}
@media print {
  .data-grid-container .data-grid {
    margin-top: 0;
    max-height: 4000px;
  }
}
.data-grid-container .data-grid table .thead-default th {
  color: #636c72;
  background-color: #ffffff;
  line-height: 26px;
  position: relative;
}
.data-grid-container .data-grid table .thead-default th a {
  display: block;
  color: #636c72;
}
.data-grid-container .data-grid table .thead-default th.header-action {
  width: 160px;
}
.data-grid-container .data-grid table tr.has-error {
  background-color: #f2dede;
}
.data-grid-container .data-grid table td {
  text-align: left;
  max-width: 400px;
  min-width: 40px;
  padding: 5px;
}
.data-grid-container .data-grid table td.has-error,
.data-grid-container .data-grid table td .has-error {
  color: #a94442;
}
.data-grid-container .data-grid table td.icon-action {
  text-align: center;
}
.data-grid-container .data-grid table td.icon-action a.btn {
  padding: .36rem .5rem;
  font-weight: normal;
}
.data-grid-container .data-grid table td.icon-action a.btn i {
  margin-top: 2px;
  display: block;
}
.data-grid-container .data-grid .icon-order::before {
  color: #bfcad1;
  font-size: 9px;
  font-family: 'simple-line-icons';
  content: '\e607';
  position: absolute;
  top: 1px;
  right: 7px;
}
.data-grid-container .data-grid .icon-order::after {
  color: #bfcad1;
  font-size: 9px;
  font-family: 'simple-line-icons';
  content: '\e604';
  position: absolute;
  top: 9px;
  right: 7px;
}
.data-grid-container .data-grid .icon-order__desc::before {
  color: #636c72;
}
.data-grid-container .data-grid .icon-order__desc::after {
  content: '';
}
.data-grid-container .data-grid .icon-order__asc::before {
  content: '';
}
.data-grid-container .data-grid .icon-order__asc::after {
  color: #636c72;
}
.data-grid-container .card-footer {
  font-size: 12px;
  line-height: 25px;
}
.data-grid-container .card-footer .pagination-sm .page-link {
  font-size: 12px;
}
.data-grid-container .card-footer .pagination-sm .page-link i {
  font-size: 8px;
}
#home .rapid-view {
  margin-bottom: 10px;
}
#home .rapid-view .icard-title__articles {
  color: #32c5d2;
}
#home .rapid-view .icard-title__jobs {
  color: #f36a5a;
}
#home .rapid-view .icard-title__suscribers {
  color: #5c9acf;
}
#home .rapid-view .icard-title__contact {
  color: #746590;
}
#home .rapid-view .icard-block i {
  position: absolute;
  top: -16px;
  right: -9px;
  font-size: 4em;
  color: #e9ecf3;
}
#home .rapid-view .card-footer {
  padding: 2px;
}
#home .rapid-view .icard-footer__articles {
  background-color: #32c5d2;
}
#home .rapid-view .icard-footer__jobs {
  background-color: #f36a5a;
}
#home .rapid-view .icard-footer__suscribers {
  background-color: #5c9acf;
}
#home .rapid-view .icard-footer__contact {
  background-color: #746590;
}
#home .home-grid .text-muted {
  font-size: 12px;
  text-transform: none;
}
#home .home-grid .icard-block {
  height: 317px;
  overflow-y: auto;
}
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3598dc;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
