/**
 * General Colors
 */
/**
 * Set color: Default
 */
/**
 * Set color: Orange
 */
/**
 * Set color: Green
 */
.color-set {
  margin: 14px;
}
.color-set__default__list1 {
  background-color: #5c9acf;
}
.color-set__default__list2 {
  background-color: #69789e;
}
.color-set__default__list3 {
  background-color: #f2f6f9;
}
.color-set__orange__list1 {
  background-color: #ff8202;
}
.color-set__orange__list2 {
  background-color: #b35a00;
}
.color-set__orange__list3 {
  background-color: #ffd5aa;
}
.color-set__green__list1 {
  background-color: #6da835;
}
.color-set__green__list2 {
  background-color: #112200;
}
.color-set__green__list3 {
  background-color: #daf7bf;
}
body {
  color: #636c72;
  background-color: rgba(255, 213, 170, 0.3);
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #636c72;
  border-color: #636c72;
}
.btn-primary {
  background-color: #578ebe;
  border-color: #578ebe;
}
.btn-primary:hover {
  background-color: #3598dc;
  border-color: #3598dc;
}
.btn-action {
  color: #32c5d2 !important;
  background-color: #ffffff !important;
}
.btn-action:hover {
  color: #ff8202 !important;
}
.card-block.focused {
  background-color: #e9ecf3;
}
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid,
.summernote.ng-invalid .note-editable.panel-body {
  border-color: #a94442 !important;
  background-color: rgba(217, 83, 79, 0.1) !important;
}
.uib-datepicker-popup .text-info {
  color: #ffffff !important;
}
a:hover {
  color: #578ebe;
}
.message::after {
  background-color: #f69b9b;
  color: #ffffff;
}
.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #f2dede;
}
.error-txt {
  color: #a94442;
}
.text-muted {
  color: #9eacb4 !important;
}
.breadcrumb {
  background-color: transparent;
}
.breadcrumb .active {
  color: #bfcad1;
}
.login {
  background-color: #ffffff;
  border: 1px solid #2f353b;
}
.top-bar {
  background: #2f353b;
  border-bottom: 1px solid #3598dc;
}
.top-bar a {
  color: #9eacb4;
}
.top-bar a:hover {
  color: #3598dc;
}
.page-footer {
  background: #bfcad1;
  color: #b35a00;
}
.menu-principal {
  background-color: #ffffff;
}
.menu-principal .menu {
  background-color: #ffffff;
}
.menu-principal .menu .nav-link {
  color: #b35a00;
}
.menu-principal .menu .nav-link:hover {
  background-color: #ffd5aa;
  color: #ff8202;
}
.menu-principal .menu .active,
.menu-principal .menu .heading {
  color: #ff8202;
}
.menu-principal .menu .active {
  background-color: #ffd5aa;
}
.menu-principal .menu .active::before {
  background-color: #ff8202;
}
.has-error {
  background-color: #f2dede;
}
.icard-block {
  background-color: #ffffff;
}
.icard-item {
  border-bottom: 1px solid #e9ecf3;
}
.icard-item .icard-info__icon {
  color: #636c72;
}
.icard-filter .card-header {
  background-color: #ffffff;
}
.icard-filter .card-header .nav-tabs .active {
  border-bottom: 3px solid #3598dc;
}
.icard-filter .card-header .nav-tabs a {
  color: #636c72;
}
.data-grid-container .btn-group {
  background-color: #ffffff;
}
.data-grid-container .btn-group .dropdown-menu .dropdown-item {
  color: #636c72;
}
.data-grid-container .card-header {
  background-color: #ff8202;
  color: #ffffff;
}
.data-grid-container .data-grid table .thead-default th {
  color: #636c72;
  background-color: #ffffff;
}
.data-grid-container .data-grid table .thead-default th a {
  color: #636c72;
}
.data-grid-container .data-grid table tr.has-error {
  background-color: #f2dede;
}
.data-grid-container .data-grid table td.has-error,
.data-grid-container .data-grid table td .has-error {
  color: #a94442;
}
.data-grid-container .data-grid .icon-order::before {
  color: #bfcad1;
}
.data-grid-container .data-grid .icon-order::after {
  color: #bfcad1;
}
.data-grid-container .data-grid .icon-order__desc::before {
  color: #636c72;
}
.data-grid-container .data-grid .icon-order__asc::after {
  color: #636c72;
}
#home .rapid-view .icard-title__articles {
  color: #32c5d2;
}
#home .rapid-view .icard-title__jobs {
  color: #f36a5a;
}
#home .rapid-view .icard-title__suscribers {
  color: #ff8202;
}
#home .rapid-view .icard-title__contact {
  color: #746590;
}
#home .rapid-view .icard-block i {
  color: #e9ecf3;
}
#home .rapid-view .icard-footer__articles {
  background-color: #32c5d2;
}
#home .rapid-view .icard-footer__jobs {
  background-color: #f36a5a;
}
#home .rapid-view .icard-footer__suscribers {
  background-color: #ff8202;
}
#home .rapid-view .icard-footer__contact {
  background-color: #746590;
}
.double-bounce1,
.double-bounce2 {
  background-color: #ff8202;
}
